name: Test

on:
  push:
    branches:
    - main
  pull_request:
  schedule:
    # Run monthly to keep Rust toolchain changes fresh
    - cron: '0 0 1 * *'

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        channel: [stable, beta]
    steps:
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.channel }}
          components: clippy, rustfmt
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run `cargo fmt`
        run: |
          cargo fmt --all -- --check
      - name: Run `cargo clippy`
        run: |
          cargo clippy

  test:
    needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        channel: [stable, beta]
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.channel }}
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build and run tests
        run: |
          cargo test --verbose --workspace

  fuzz:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@nightly
      - name: Checkout
        uses: actions/checkout@v4
        # Run the fuzzer for a minute
      - name: Run fuzzers
        run: |
          cargo --locked install cargo-fuzz
          cargo --locked fuzz run --jobs=4 --fuzz-dir=crates/ansi-to-html/fuzz opt_equiv -- -max_total_time=60 -timeout=30
